body {
  height: 100vh;
}

.enter_heading {
  margin-left: 155px;
}

.form1 {
  margin-left: 155px;
}

.student-info {
  margin-left: 250px;
  padding-left: 100px;
  margin-top: 70px;
  margin-bottom: 25px;
}

.sisub-headings {
  text-align: left;
}

.button-custom- {
  margin-left: 5px;
  padding-left: 10px;
}

table {
  font-family: arial, sans-serif;
  border-collapse: collapse;
  width: 65%;
}

td,
th {
  border: 1px solid #130e0e;
  text-align: left;
  padding: 8px;
}

tr:nth-child(even) {
  background-color: #dddddd;
}

.result-st-info {
  margin-left: 150px;
}

footer {
  background-color: #c1c8ce;
  text-align: center;
  color: rgba(10, 11, 56, 0.5);
  padding-top: 30px;
  padding-bottom: 15px;
  font-size: 100%;
}
.subtext {
  margin-left: 160px;
}
.submitbutton {
  margin-right: 160px;
}
body {
  background-image: url(pexels-evgenia-basyrova-5028920.jpg);
}
